.my_sale_total_row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 4px;
}

.my_sale_total_label {
    width: 130px;
    text-align: left;
    margin-right: 10px;
}